<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="task.scss">
    <link rel="stylesheet" media="all" href="assets/application-0e5d7c8cc18cc18bd52eeabc1c5477d3b494997c763fe01630943b441776e7ab493d.css" date-turbolinks-track="reload">
    <script src="/assets/application-b448791b18a9452cee489df10d734ac2ccdefa3cdd5db733d63988d121db2408.js" date-turbolinks-track="reload"></script>
    <!--[if lt IE 9]>
      <script
      src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <!--[endif]-->
    <title>管理者 | Task App</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="COD3NS7TIFB3QwTI/KwYkwgL80y7LQ0N+BnOBfVRDDPK7buzyEn/Bj8wSfY83SrGmrTZWWgx3kGQX7UpC5IIeA==">
  </head>
</html>